<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.seamile.ssh-tunnel.plist</string>
	<key>Program</key>
	<string>/Users/xu/.local/bin/ssh-tunnel.sh</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/xu/.local/bin/ssh-tunnel.sh</string>
		<string>bee</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
