<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ssh-tunnel.service</string>

	<!-- Command -->
	<key>ProgramArguments</key>
	<array>
		<string>/Users/xu/.local/utils/tunnel.sh</string>
		<string>bat</string>
	</array>

	<!-- KeepAlive -->
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>

	<!-- Logging -->
	<key>StandardOutPath</key>
	<string>/tmp/ssh-tunnel.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/ssh-tunnel.log</string>
</dict>
</plist>
